In [81]:
import pandas

In [82]:
import yfinance as yf
pair="EURUSD=X"
data=yf.download(pair,start="2015-01-01", end="2025-01-01")

C:\Users\elham\AppData\Local\Temp\ipykernel_59096\185000845.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data=yf.download(pair,start="2015-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed

In [83]:
data.head(4)

Price          Close      High       Low      Open   Volume
Ticker      EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X EURUSD=X
Date
2015-01-01  1.209863  1.209863  1.209863  1.209863        0
2015-01-02  1.208941  1.208956  1.201080  1.208868        0
2015-01-05  1.194643  1.197590  1.188909  1.195500        0
2015-01-06  1.193902  1.197000  1.188693  1.193830        0

In [84]:
data=data.reset_index()
print(data.columns.tolist())

[('Date', ''), ('Close', 'EURUSD=X'), ('High', 'EURUSD=X'), ('Low', 'EURUSD=X'), ('Open', 'EURUSD=X'), ('Volume', 'EURUSD=X')]

In [85]:
data.columns = [f"{p}_{t}" for p, t in data.columns]

In [86]:
data = data.rename(columns={'Close_EURUSD=X': 'Close_EURUSD','High_EURUSD=X':'High_EURUSD',
                           'Low_EURUSD=X':'Low_EURUSD','Open_EURUSD=X':'Open_EURUSD',
                           'Volume_EURUSD=X':'Volume_EURUSD','Date_':'Date'})

(data.columns.tolist())

['Date',
 'Close_EURUSD',
 'High_EURUSD',
 'Low_EURUSD',
 'Open_EURUSD',
 'Volume_EURUSD']

In [88]:
from datetime import datetime
import pandas as pd

data['Date'] = pd.to_datetime(data['Date'], errors='coerce')
num_cols = ['Close_EURUSD', 'High_EURUSD', 'Low_EURUSD', 'Open_EURUSD', 'Volume_EURUSD']
data[num_cols] = data[num_cols].apply(pd.to_numeric, errors='coerce')

In [103]:
data.columns.tolist()

['Date',
 'Close_EURUSD',
 'High_EURUSD',
 'Low_EURUSD',
 'Open_EURUSD',
 'Volume_EURUSD']

In [104]:
import sqlalchemy
from sqlalchemy import create_engine

username = "root"
password = input("enter your pass:")
host = "localhost"
port = "3006"
database = "finance"


engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")
data.to_sql("CurrencyR",con=engine,if_exists="append",index=False)

enter your pass:Elham$$123

C:\Users\elham\AppData\Local\Temp\ipykernel_59096\1987043953.py:12: UserWarning: The provided table name 'CurrencyR' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data.to_sql("CurrencyR",con=engine,if_exists="append",index=False)

2606

In [ ]:
import sqlite3

con=sqlite3.connect("Forex_prediction.db")
data.to_sql("prediction",con=con,if_exists="replace",index=False)
con.close()

In [92]:
con=sqlite3.connect("Forex_prediction.db")
df=pd.read_sql("select * from prediction ",con)
df.head(2)

,Date,Close_EURUSD,High_EURUSD,Low_EURUSD,Open_EURUSD,Volume_EURUSD
0,2015-01-01 00:00:00,1.209863,1.209863,1.209863,1.209863,0
1,2015-01-02 00:00:00,1.208941,1.208956,1.201080,1.208868,0

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2606 entries, 0 to 2605
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2606 non-null   datetime64[ns]
 1   Close_EURUSD   2606 non-null   float64
 2   High_EURUSD    2606 non-null   float64
 3   Low_EURUSD     2606 non-null   float64
 4   Open_EURUSD    2606 non-null   float64
 5   Volume_EURUSD  2606 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 122.3 KB

In [94]:
data.isnull().sum()

Date             0
Close_EURUSD     0
High_EURUSD      0
Low_EURUSD       0
Open_EURUSD      0
Volume_EURUSD    0
dtype: int64

In [95]:
data.describe()

,Date,Close_EURUSD,High_EURUSD,Low_EURUSD,Open_EURUSD,Volume_EURUSD
count,2606,2606.000000,2606.000000,2606.000000,2606.000000,2606.0
mean,2020-01-01 17:32:05.709900288,1.119100,1.122638,1.115455,1.119081,0.0
min,2015-01-01 00:00:00,0.959619,0.967006,0.954016,0.959619,0.0
25%,2017-06-30 18:00:00,1.084402,1.087556,1.081115,1.084390,0.0
50%,2020-01-02 12:00:00,1.114771,1.118249,1.111247,1.114784,0.0
75%,2022-07-03 06:00:00,1.156280,1.159999,1.153047,1.156216,0.0
max,2024-12-31 00:00:00,1.251001,1.255808,1.245051,1.251267,0.0
std,NaN,0.052283,0.052066,0.052464,0.052275,0.0

In [96]:
data.to_csv("filename.csv",index=False)
# Save DataFrame to CSV