In [5]:
import yfinance as yf

In [6]:
import pandas as pd

In [7]:
import yfinance as yf
pair="EURUSD=X"
data=yf.download(pair,start="2015-01-01", end="2025-01-01")

C:\Users\elham\AppData\Local\Temp\ipykernel_49144\185000845.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data=yf.download(pair,start="2015-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed

In [8]:
# Simplify column names
if isinstance(data.columns, pd.MultiIndex):
    data.columns = [col[0] for col in data.columns]

In [9]:
data.head(4)

               Close      High       Low      Open  Volume
Date
2015-01-01  1.209863  1.209863  1.209863  1.209863       0
2015-01-02  1.208941  1.208956  1.201080  1.208868       0
2015-01-05  1.194643  1.197590  1.188909  1.195500       0
2015-01-06  1.193902  1.197000  1.188693  1.193830       0

In [11]:
import os

# Set the parent directory to a folder named 'data' one level up
parent_dir = os.path.abspath(os.path.join(os.getcwd(), "..", "data"))

# Make sure the folder exists
os.makedirs(parent_dir, exist_ok=True)

# Full file path
file_path = os.path.join(parent_dir, "forex_datas.csv")

# Save the CSV
data.to_csv(file_path, index=False)

print(f"CSV saved to: {file_path}")

CSV saved to: C:\Users\Public\project\data\forex_datas.csv

In [14]:
data=data.reset_index()
print(data.columns.tolist())

['index', 'Date', 'Close', 'High', 'Low', 'Open', 'Volume']

In [16]:
from datetime import datetime
import pandas as pd

data['Date'] = pd.to_datetime(data['Date'], errors='coerce')
num_cols = ['Close', 'High', 'Low', 'Open', 'Volume']
data[num_cols] = data[num_cols].apply(pd.to_numeric, errors='coerce')

In [17]:
data.columns.tolist()

['index', 'Date', 'Close', 'High', 'Low', 'Open', 'Volume']

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine

username = "root"
password = input("enter your pass:")
host = "localhost"
port = "3006"
database = "finance"


engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")
data.to_sql("CurrencyR",con=engine,if_exists="append",index=False)

In [19]:
import sqlite3

con=sqlite3.connect("Forex_prediction.db")
data.to_sql("prediction",con=con,if_exists="replace",index=False)
con.close()

In [20]:
con=sqlite3.connect("Forex_prediction.db")
df=pd.read_sql("select * from prediction ",con)
df.head(2)

   index                 Date     Close      High       Low      Open  Volume
0      0  2015-01-01 00:00:00  1.209863  1.209863  1.209863  1.209863       0
1      1  2015-01-02 00:00:00  1.208941  1.208956  1.201080  1.208868       0

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2606 entries, 0 to 2605
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   2606 non-null   int64
 1   Date    2606 non-null   datetime64[ns]
 2   Close   2606 non-null   float64
 3   High    2606 non-null   float64
 4   Low     2606 non-null   float64
 5   Open    2606 non-null   float64
 6   Volume  2606 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 142.6 KB

In [22]:
data.isnull().sum()

index     0
Date      0
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [23]:
data.describe()

,index,Date,Close,High,Low,Open,Volume
count,2606.000000,2606,2606.000000,2606.000000,2606.000000,2606.000000,2606.0
mean,1302.500000,2020-01-01 17:32:05.709900288,1.119100,1.122638,1.115455,1.119081,0.0
min,0.000000,2015-01-01 00:00:00,0.959619,0.967006,0.954016,0.959619,0.0
25%,651.250000,2017-06-30 18:00:00,1.084402,1.087556,1.081115,1.084390,0.0
50%,1302.500000,2020-01-02 12:00:00,1.114771,1.118249,1.111247,1.114784,0.0
75%,1953.750000,2022-07-03 06:00:00,1.156280,1.159999,1.153047,1.156216,0.0
max,2605.000000,2024-12-31 00:00:00,1.251001,1.255808,1.245051,1.251267,0.0
std,752.431724,NaN,0.052283,0.052066,0.052464,0.052275,0.0

In [27]:

data.to_csv("../data/data.csv", index=False)

# Save DataFrame to CSV